*{
    font-family: "Inter", sans-serif; 
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    background-color: #E5E5E5;
}
body{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#contenedor-logo{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
#contenedor-encriptar{  
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#textarea-encriptar{
    margin-top: 8%;
    width: 95%;
    height: 400px;
    font-size: 28px;
    color: #0A3871;
    border: none;
    outline: none;
}
#textarea-encriptar::placeholder{
    color: #0A3871;
}
.advertencia{   
    margin-left: 10px;
    padding: 20px;
    display: flex;
    align-self: flex-start;
}
.zondicons--exclamation-solid {
    display: inline-block;
    width: 10px;
    height: 10px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M2.93 17.07A10 10 0 1 1 17.07 2.93A10 10 0 0 1 2.93 17.07M9 5v6h2V5zm0 8v2h2v-2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #495057;
}
#alerta{   
    background-color: #E5E5E5;
    padding-left: 5px;
    color: #495057;
    font-size: 10px;
}
.funcionalidades{
    width: 100%;    
    display: flex;
    justify-content: space-evenly;
}   
.btn-funcionalidades{
    width: 45%;
    height: 45px;
    border-radius: 15px;
}
#btn-encriptar{
    color: #D8DFE8;
    background-color: #0A3871;
    border: none;
}
#btn-desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    border: 1px solid;
}
#contenedor-resultado{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0px 5px 10sspx lightgray;
}
#muñeco-resultado{
    background-color: white;
    width: 100%;
}
p{
    display: flex;
    font-family: "Inter", sans-serif; 
    background-color: white;
    justify-content: center;
    align-items: center;
}
.txt-encriptado{
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contenedor-logo{
        width: 100%;
        justify-content: flex-start;
    }
    #contenedor-encriptar{
        align-self: flex-start;
        width: 100%;
    }
    #contenedor-resultado{
        width: 100%;
        height: 100%;
        margin: 10px;
        padding: 10px;
    }
    #muñeco-resultado{
        display: none;
    }
}
@media screen and (max-width: 375px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contenedor-logo{
        width: 100%;
        justify-content: flex-start;
    }
    #contenedor-encriptar{
        display: flex;
        align-self: flex-start;
        width: 100%;
    }
    .funcionalidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .btn-funcionalidades{
        margin: 10px;
        width: 100%;
    }
    #contenedor-resultado{
        width: 100%;
        height: 100%;
        margin: 10px;
        padding: 10px;
    }
    #muñeco-resultado{
        display: none;
    }
}
